# Hive account name used for broadcasting podpings (without angle brackets)
# Replace the example below with your actual account name and do not commit
# your real credentials to the repository.  Copy this file to `.env` before
# running the service.
HIVE_ACCOUNT_NAME=hive_account

# Hive posting key (starts with "STM").  This key is used only for sending
# transactions, not for account control.  Keep it secret!
HIVE_POSTING_KEY=STM....


# Bind host for the API server; set to "0.0.0.0" to listen on all interfaces
# Set this to a specific IP address to restrict access to that interface,
# depending on your local network configuration.
BIND_HOST="0.0.0.0"

# API port for the service to listen on; the default is 1820.  You can change
# this if you want to run multiple instances on the same machine or avoid conflicts.
# (Internally within Docker container the system uses 8000)
API_PORT=1820


# Set to "true" to disable broadcasting transactions to the Hive network; only for testing.
# Do not change for production.
NO_BROADCAST=false

# Prefix for podping URLs; the service will listen for podpings with this prefix.
# Do not change for production.
#  - 'pp' is for live podpings,
#  - 'pplt' is for testing
PODPING_PREFIX=pp


# Logging level for the service; can be "debug", "info", "warning",
# Probably not needed to change for production.
LOG_LEVEL=info

# Set to "true" to enable verbose logging of incoming requests and queue operations
# This is mostly for debugging and development; it can be very noisy in production.
VERBOSE=false
